<h1>商品一覧</h1>

<ul>
  <li>
    <% @products.each do |p| %>
      商品名：<%= p.name %><br>
      料金：<%= p.price %>
      <%= link_to '購入',  '/add_item', product: {id: product.id}, method: :post, class: 'btn'%><br>
    <% end %>
  </li>
</ul>